<h1>À propos de moi</h1>
<div class="flex flex-col gap-8">
    <p class="text-justify">
        <app-image-loader image="images/lineria-preview-lobby.jpg" imageClass="float-right w-[20rem] ml-8 m-4 rotate-10 rounded-xl"></app-image-loader>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus accusantium repudiandae voluptatem eaque consequatur unde omnis! Cum rem inventore nemo repellendus, deleniti, ab, dolorum iure eaque earum corrupti veritatis aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sed, consequatur laborum, voluptates voluptatum architecto eius maxime in reiciendis cupiditate perspiciatis sit suscipit doloremque vitae, illum atque nobis. Id, doloremque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, at? Expedita, minima voluptas! Neque perferendis possimus debitis magni dicta quos ipsa aperiam voluptatem vitae ratione. Perferendis nihil ipsum asperiores consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut maxime error alias, autem eligendi saepe similique aut enim voluptatum officiis nobis unde, in dolorum impedit architecto sunt dicta expedita nesciunt!
    </p>
    <p class="text-justify">
        <app-image-loader image="images/lineria-preview-lobby.jpg" imageClass="float-left w-[20rem] mr-8 m-4 -rotate-10 rounded-xl"></app-image-loader>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus accusantium repudiandae voluptatem eaque consequatur unde omnis! Cum rem inventore nemo repellendus, deleniti, ab, dolorum iure eaque earum corrupti veritatis aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sed, consequatur laborum, voluptates voluptatum architecto eius maxime in reiciendis cupiditate perspiciatis sit suscipit doloremque vitae, illum atque nobis. Id, doloremque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, at? Expedita, minima voluptas! Neque perferendis possimus debitis magni dicta quos ipsa aperiam voluptatem vitae ratione. Perferendis nihil ipsum asperiores consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut maxime error alias, autem eligendi saepe similique aut enim voluptatum officiis nobis unde, in dolorum impedit architecto sunt dicta expedita nesciunt!
    </p>
</div>
<br>
<h1>Et puis la suite, vous la connaissez (ou pas encore)</h1>
<p class="text-justify">
    <a
      routerLink="/experiences"
      class="flex flex-row justify-center transition-all hover:scale-115"
    >
      <button class="button text-xl!">
        <fa-icon icon="vial" class="mr-2"></fa-icon>
        Mes expériences
      </button>
    </a>
</p>