<footer class="footer-gap mt-16 bg-slate-900/50 text-white py-3 px-50">
  <div class="flex flex-col items-center">
    <p>
      Site entièrement réalisé avec <span class="text-red-600">❤</span> par
      <a href="https://github.com/ToxykAuBleu">&#64;ToxykAuBleu</a>.
    </p>
    <div class="flex flex-row gap-2">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
      <p>
        <a href="https://github.com/ToxykAuBleu/Portfolio">Code source</a> |
        Version 1.0.0
      </p>
    </div>
  </div>
</footer>
