<!-- TODO: aligner les icones avec une grid, voir projects -->
<footer
  class="mt-16 flex flex-col gap-8 rounded-t-3xl bg-slate-900/50 px-8 pt-8 pb-4 text-white"
>
  <div class="flex flex-col gap-8 md:flex-row lg:gap-16">
    <div class="flex flex-auto flex-col gap-4">
      <!-- Portfolio description -->
      <div class="flex flex-row items-center gap-4">
        <app-image-loader
          image="/profile-picture.png"
          imageClass="rounded-full hover:animate-spin w-12"
          loaderClass="flex rounded-full!"
        ></app-image-loader>
        <p class="text-2xl! font-bold transition-opacity">&#64;ToxykAuBleu</p>
      </div>
      <p class="text-justify max-lg:hyphens-auto" lang="fr">
        <span class="mr-4"
          ><fa-icon icon="quote-left" class="text-gray-300" size="xl"></fa-icon
        ></span>
        Dans mon portfolio, tu en apprendras davantage sur ma personne, les
        projets sur lesquels je ou j'ai participé, mes expériences personnelles
        et professionnelles. N'hésite pas à regarder mes autres réseaux, que ce
        soit pour me contacter ou pour tout simplement observer 😉
        <span class="ml-4"
          ><fa-icon icon="quote-right" class="text-gray-300" size="xl"></fa-icon
        ></span>
      </p>
    </div>
    <div
      class="flex flex-none flex-col justify-around gap-8 min-[480px]:flex-row"
    >
      <!-- Shortcuts to pages -->
      <div class="flex flex-col items-center gap-4">
        <p class="mt-2.5 text-2xl! font-bold underline">Liens utiles</p>
        <ul class="flex flex-col">
          <a routerLink="/" class="flex transition-all hover:text-blue-600">
            <fa-icon icon="home-user" class="mr-2"></fa-icon>
            <span>Accueil</span>
          </a>
          <a
            routerLink="/projects"
            class="flex transition-all hover:text-blue-600"
          >
            <fa-icon icon="folder-open" class="mr-2"></fa-icon>
            <span>Projects</span>
          </a>
          <a
            routerLink="/experiences"
            class="flex transition-all hover:text-blue-600"
          >
            <fa-icon icon="vial" class="mr-2"></fa-icon>
            <span>Expériences</span>
          </a>
          <a
            routerLink="/about-me"
            class="flex transition-all hover:text-blue-600"
          >
            <fa-icon icon="seedling" class="mr-2"></fa-icon>
            <span>Mon histoire</span>
          </a>
          <a
            href="/cv.pdf"
            target="_blank"
            class="flex transition-all hover:text-blue-600"
          >
            <fa-icon icon="download" class="mr-2"></fa-icon>
            <span>Mon CV</span>
          </a>
        </ul>
      </div>
      <!-- Social links -->
      <div class="flex flex-col items-center gap-4">
        <p class="mt-2.5 text-2xl! font-bold underline">Mes réseaux</p>
        <ul class="flex flex-col">
          <a
            class="flex transition-all hover:text-blue-600"
            href="https://linkedin.com/in/mathieu-fois"
          >
            <fa-icon
              [icon]="['fab', 'linkedin']"
              class="w-8 text-blue-500!"
            ></fa-icon>
            <span>&#64;mathieu-fois</span>
          </a>
          <a
            class="flex transition-all hover:text-blue-600"
            href="https://github.com/ToxykAuBleu"
          >
            <fa-icon
              [icon]="['fab', 'github']"
              class="w-8 text-white"
            ></fa-icon>
            <span>&#64;ToxykAuBleu</span>
          </a>
          <a class="flex transition-all hover:text-blue-600" href="">
            <fa-icon
              [icon]="['fab', 'discord']"
              class="w-8 text-indigo-600!"
            ></fa-icon>
            <span>&#64;toxykaubleu</span>
          </a>
          <a
            class="flex transition-all hover:text-blue-600"
            href="https://steamcommunity.com/id/ToxykAuBleu"
          >
            <fa-icon [icon]="['fab', 'steam']" class="w-8 text-white"></fa-icon>
            <span>&#64;ToxykAuBleu</span>
          </a>
          <a
            class="flex transition-all hover:text-blue-600"
            href="mailto:contact@toxykaubleu.fr"
          >
            <fa-icon icon="at" class="w-8 text-white"></fa-icon>
            <span>contact&#64;toxykaubleu.fr</span>
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center max-md:gap-4 md:flex-row md:justify-around"
  >
    <div class="text-center">
      <p class="max-md:mb-2">
        <span class="mr-2 text-red-600">❤</span>
        Site entièrement réalisé par moi-même.
      </p>
      <p>
        <fa-icon icon="leaf" class="mr-2 text-green-500"></fa-icon>
        Hébergé sur un serveur fonctionnant avec de l'énergie verte.
      </p>
    </div>
    <p class="text-center">
      <a href="https://github.com/ToxykAuBleu/Portfolio">
        <fa-icon icon="file-code" class="mr-2"></fa-icon>
        Code source (v1)
      </a>
    </p>
  </div>
</footer>
