<header
  class="responsive-header @container inset-x-0 top-2 z-100 flex items-center rounded-full bg-black/20 px-4 py-6 text-white backdrop-blur-sm select-none sm:fixed md:flex-row"
>
  <!-- FIXME: upgrade it -->
  <!-- Profile picture/pseudonyme -->
  <div class="absolute z-102 flex items-center gap-4">
    <app-image-loader
      image="/assets/profile-picture.png"
      imageClass="rounded-full hover:animate-spin max-[460px]:hidden w-12 md:w-16 transition-opacity"
      loaderClass="flex rounded-full!"
    ></app-image-loader>
    <p
      class="custom-color font-bold transition-opacity @max-[880px]:hidden @min-[925px]:text-2xl!"
    >
      &#64;ToxykAuBleu
    </p>
  </div>

  <!-- Navigation -->
  <div
    class="relative z-101 flex w-full items-center gap-4 max-[460px]:justify-start min-[460px]:justify-center md:justify-end md:gap-8 lg:gap-12"
  >
    <div class="flex space-x-6 sm:space-x-12 md:space-x-8 lg:space-x-12">
      <a routerLink="/" class="item-navbar">
        <fa-icon
          icon="home-user"
          class="md:hidden min-2xl:mr-2 min-2xl:inline"
        ></fa-icon>
        <span class="hidden md:inline">Accueil</span>
      </a>
      <a routerLink="/projects" class="item-navbar">
        <fa-icon
          icon="folder-open"
          class="md:hidden min-2xl:mr-2 min-2xl:inline"
        ></fa-icon>
        <span class="hidden md:inline">Projects</span>
      </a>
      <a routerLink="/experiences" class="item-navbar">
        <fa-icon
          icon="vial"
          class="md:hidden min-2xl:mr-2 min-2xl:inline"
        ></fa-icon>
        <span class="hidden md:inline">Expériences</span>
      </a>
      <a routerLink="/about-me" class="item-navbar">
        <fa-icon
          icon="seedling"
          class="md:hidden min-2xl:mr-2 min-2xl:inline"
        ></fa-icon>
        <span class="hidden md:inline">Mon histoire</span>
      </a>
      <a class="item-navbar hover:cursor-pointer" (click)="scrollToFooter()">
        <fa-icon
          icon="envelope"
          class="md:hidden min-2xl:mr-2 min-2xl:inline"
        ></fa-icon>
        <span class="hidden md:inline">Contacts</span>
      </a>
    </div>
    <!-- Right buttons -->
    <div class="max-md:absolute max-md:right-0 md:flex">
      <ng-container [ngTemplateOutlet]="cv"></ng-container>
    </div>
  </div>
</header>

<ng-template #cv>
  <button class="button invisible">CV</button>
  <a href="/assets/cv.pdf" target="_blank">
    <button
      class="button button-pill button-outline absolute -top-1.5 right-0 flex flex-auto py-3! text-white! hover:animate-spin md:-top-3.5 md:py-5!"
    >
      <fa-icon icon="download" class="mr-2"></fa-icon>
      CV
    </button>
  </a>
</ng-template>
