<div class="flex flex-col gap-4">
  <div class="flex flex-row gap-4">
    <img
      src="assets/profile-picture.png"
      alt="Photo de profil"
      id="pdp"
      class="rounded-full"
    />
    <div id="hero-title" class="flex flex-col gap-2">
      <h1>ToxykAuBleu</h1>
      <div>
        <span class="pill open"></span>
      </div>
    </div>
  </div>
  <div class="flex text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam laudantium
    quod iure aliquid cum tempore, eveniet fuga qui voluptatibus ad? Quasi
    aspernatur magni, maiores laborum optio blanditiis repellat cum aperiam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas
    expedita labore tempore similique facilis sapiente architecto at iusto modi
    corporis autem fugit libero placeat perferendis, tenetur, vero incidunt
    tempora!
  </div>
</div>
