<div
  class="rounded-lg border border-gray-200 bg-white/80 shadow-sm dark:border-gray-700 dark:bg-gray-800/80"
>
  <app-image-loader
    *ngIf="project.PreviewImage"
    [image]="'/' + project.PreviewImage"
    imageClass="rounded-t-lg"
    loaderHeight="18rem"
    alt=""
  ></app-image-loader>
  <div class="p-5">
    <!-- Nom du projet -->
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      <span *ngIf="!project.EndingDate" class="pill-current"></span>
      {{ project.Title }}
    </h5>
    <!-- Date du projet -->
    <div class="flex flex-row gap-4">
      <fa-icon icon="clock" class="text-black dark:text-white"></fa-icon>
      <div>
        <span
          class="text-gray-700 dark:text-gray-400"
          matTooltip="Date de début du projet"
          matTooltipPosition="above"
          >{{ project.StartingDate | date: "dd/MM/yyyy" }}</span
        >
        <span
          *ngIf="project.EndingDate"
          class="text-gray-700 dark:text-gray-400"
          matTooltip="Date de fin du projet"
          matTooltipPosition="above"
        >
          - {{ project.EndingDate | date: "dd/MM/yyyy" }}</span
        >
      </div>
    </div>
    <!-- Technologies utilisées -->
    <div class="flex flex-row gap-4">
      <fa-icon
        icon="toolbox"
        class="self-center text-black dark:text-white"
        matTooltip="Outils/technologies utilisés"
        matTooltipPosition="left"
      ></fa-icon>
      <div
        [ngClass]="{
          'flex w-full flex-row flex-wrap gap-4': true,
          'justify-evenly': overflowCount > 0 ? true : false,
        }"
        #techContainer
      >
        <ng-container *ngFor="let technology of slicedTechs">
          <div *ngIf="technology.name !== '...'; then icon; else others"></div>

          <ng-template #icon>
            <app-icon-tech [tech]="technology" size="md"></app-icon-tech>
          </ng-template>

          <ng-template #others>
            <div
              class="flex items-center justify-center text-black dark:text-white"
              [matTooltip]="
                overflowCount +
                (overflowCount > 1
                  ? ' autres technologies...'
                  : ' autre technologie...')
              "
            >
              +{{ overflowCount }}
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>

    <div class="my-4">
      <mat-divider></mat-divider>
    </div>

    <!-- Petite description du projet -->
    <p
      class="mb-3 text-justify font-normal text-gray-700! dark:text-gray-400!"
      [innerHTML]="shortDescription"
    ></p>

    <!-- Actions -->
    <button class="button">Plus de détails</button>
  </div>
</div>
