@use "tailwindcss";

@use "@angular/material" as mat;
.technologies-container {
  @include mat.expansion-overrides(
    (
      container-background-color: rgba(0, 0, 0, 0.5),
      header-focus-state-layer-color: rgba(0, 0, 0, 0),
      header-hover-state-layer-color: rgba(0, 0, 0, 0),
      header-indicator-color: white,
    )
  );
}

.selected-tech {
  @apply scale-120;
}
.not-selected-tech {
  @apply brightness-20 grayscale;
}
