@use "tailwindcss";

body {
  @apply bg-gradient-to-r from-[#0009AD] via-[#1F3183] to-[#163077];
  @extend .responsive-side;
}

.responsive-side {
  @apply mx-8 md:mx-16 lg:mx-32 xl:mx-48 2xl:mx-64;
}

h1,
h2,
h3,
h4 {
  @apply mb-4;
}

h1 {
  @apply text-4xl font-bold text-white;
}
h2 {
  @apply text-3xl font-bold text-white;
}
h3 {
  @apply text-2xl font-bold text-white;
}
h4 {
  @apply text-xl font-bold text-white;
}

p,
ul {
  @apply text-lg text-white;
}

.button {
  // Default button styles.
  @apply cursor-pointer rounded-lg px-5 py-2.5 text-sm font-medium focus:inset-ring-4 focus:outline-none;
  @apply transition-all;

  &:not(.button-disabled):not(.system) {
    @extend .blue;
  }
  &.button-disabled {
    @apply cursor-not-allowed bg-gray-400 focus:inset-ring-gray-600;
  }
  &.button-pill {
    @apply rounded-full;
  }
  &.button-outline {
    @apply border-4 border-solid bg-transparent! px-4! py-1.5!;
  }

  // Color variants.
  &.blue {
    @apply bg-blue-700 text-white hover:bg-blue-800! focus:inset-ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700! dark:focus:inset-ring-blue-800;
    &.button-outline {
      @apply border-blue-700 text-black hover:border-blue-800! hover:text-white dark:text-white dark:hover:border-blue-700!;
    }
  }

  &.system {
    @apply bg-gray-100 hover:bg-gray-300! focus:inset-ring-gray-500 dark:bg-gray-900 dark:hover:bg-gray-950! dark:focus:inset-ring-black;
    @apply text-gray-900 dark:text-gray-100;
    &.button-outline {
      @apply border-gray-100 dark:border-gray-900 dark:hover:border-gray-950;
    }
  }
}

.pill-current {
  @apply mr-2 rounded-full bg-emerald-600 px-2 text-white;
  &::after {
    content: "En cours";
  }
}

/*
*
* The MIT License
* Copyright (c) 2024 nulld3x
*
* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
* THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*
*/

body::before {
  --size: 2.75rem;
  --line: color-mix(in oklch, white, transparent 70%);
  content: "";
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(
        90deg,
        var(--line) 0.0625rem,
        transparent 0.0625rem var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 0.0625rem, transparent 0.0625rem var(--size))
      50% 50% / var(--size) var(--size);
  mask: linear-gradient(-30deg, transparent 30%, #f0f0f0);
  top: 0;
  left: 0;
  transform-style: flat;
  pointer-events: none;
  position: fixed;
  z-index: -1;
  animation: moveGrid 3s linear infinite;
}

@keyframes moveGrid {
  0% {
    background-position:
      0 0,
      0 0;
  }
  100% {
    background-position:
      0 0,
      var(--size) var(--size);
  }
}
