<h1>Experiences</h1>
<div class="flex flex-col gap-8">
  <p class="text-justify">
    Vous retrouverez sur cette page une liste d'expériences personnelles et
    professionnelles que j'ai pu acquérir au fil des années. Cela peut être des
    formations, des stages et des emplois. Les expériences sont classées par
    ordre chronologique, de la plus récente à la plus ancienne. Vous pouvez
    changer l'ordre en cliquant sur l'icone
    <fa-icon [icon]="sortOrder ? 'arrow-up-1-9' : 'arrow-down-1-9'"></fa-icon>
    dans le titre d'en dessous.
  </p>
  <div>
    <h3>
      <span
        (click)="toggleSortExperiences()"
        class="hover:cursor-pointer"
        [matTooltip]="
          'Cliquer pour trier ' +
          (sortOrder
            ? 'de la plus ancienne à la plus récente'
            : 'de la plus récente à la plus ancienne')
        "
        matTooltipPosition="above"
      >
        <fa-icon
          [icon]="sortOrder ? 'arrow-up-1-9' : 'arrow-down-1-9'"
          class="mr-2"
        ></fa-icon>
      </span>
      Liste des expériences
    </h3>
    <div class="relative grid grid-cols-1 md:grid-cols-2 md:gap-8">
      <!-- Top -->
      <ng-container
        *ngIf="sortOrder"
        [ngTemplateOutlet]="arrow"
        [ngTemplateOutletContext]="{ position: 'starting' }"
      >
      </ng-container>
      <ng-container
        *ngIf="!sortOrder"
        [ngTemplateOutlet]="point"
        [ngTemplateOutletContext]="{ position: 'starting' }"
      ></ng-container>

      <!-- Line -->
      <div class="dynamic-line absolute w-2 rounded-full bg-gray-300"></div>
      <!-- Experiences -->
      <ng-container *ngFor="let experience of experiences; let i = index">
        <!-- Left: preview | Right: experience -->
        <ng-container *ngIf="!isMdOrLower && i % 2 === 0">
          <ng-container
            [ngTemplateOutlet]="experiencePreview"
            [ngTemplateOutletContext]="{ $implicit: experience }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="experienceTemplate"
            [ngTemplateOutletContext]="{
              $implicit: experience,
              position: isMdOrLower ? 'center' : 'right',
            }"
          ></ng-container>
        </ng-container>

        <!-- Left: experience | Right: preview -->
        <ng-container *ngIf="!isMdOrLower && i % 2 === 1">
          <ng-container
            [ngTemplateOutlet]="experienceTemplate"
            [ngTemplateOutletContext]="{
              $implicit: experience,
              position: isMdOrLower ? 'center' : 'left',
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="experiencePreview"
            [ngTemplateOutletContext]="{ $implicit: experience }"
          ></ng-container>
        </ng-container>

        <!-- Centered experience and preview for small screens -->
        <ng-container *ngIf="isMdOrLower">
          <ng-container
            [ngTemplateOutlet]="experiencePreview"
            [ngTemplateOutletContext]="{ $implicit: experience }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="experienceTemplate"
            [ngTemplateOutletContext]="{
              $implicit: experience,
              position: 'center',
            }"
          ></ng-container>
        </ng-container>
      </ng-container>

      <!-- Bottom -->
      <ng-container
        *ngIf="sortOrder"
        [ngTemplateOutlet]="point"
        [ngTemplateOutletContext]="{ position: 'ending' }"
      ></ng-container>
      <ng-container
        *ngIf="!sortOrder"
        [ngTemplateOutlet]="arrow"
        [ngTemplateOutletContext]="{ position: 'ending' }"
      >
      </ng-container>
    </div>
  </div>
</div>

<!-- Preview card -->
<ng-template #experiencePreview let-experience>
  <div class="flex w-full items-center justify-center">
    <app-image-loader
      [image]="'/' + experience.PreviewImage"
      [alt]="experience.Title"
      imageClass="scale-75 rounded-lg border-12 border-gray-300/20 object-cover"
      loaderClass="scale-75"
      loaderHeight="10rem"
      loaderWidth="10rem"
    ></app-image-loader>
  </div>
</ng-template>

<!-- Starting/ending point -->
<ng-template #point let-position="position">
  <div
    [ngClass]="{
      'dynamic-starting-point absolute flex': true,
      'bottom-0': position === 'ending',
      'top-0': position === 'starting',
    }"
  >
    <div class="h-6 w-6 rounded-full bg-gray-300"></div>
  </div>
</ng-template>

<!-- Starting/ending arrow -->
<ng-template #arrow let-position="position">
  <div
    [ngClass]="{
      'dynamic-arrow absolute z-50 flex': true,
      '-bottom-3': position === 'ending',
      '-top-3': position === 'starting',
    }"
  >
    <fa-icon
      [icon]="position === 'starting' ? 'chevron-up' : 'chevron-down'"
      class="text-gray-300"
      size="3x"
    ></fa-icon>
  </div>
</ng-template>

<!-- Experience card -->
<ng-template #experienceTemplate let-experience let-position="position">
  <div class="relative mb-16 rounded-lg bg-black/20 p-4 shadow-lg md:my-16">
    <!-- Center point -->
    <div
      [ngClass]="{
        'absolute inset-y-0 content-center': true,
        '-left-7': position === 'right',
        '-right-7': position === 'left',
        '-left-4': position === 'center',
      }"
    >
      <div class="h-6 w-6 rounded-full bg-gray-400"></div>
    </div>

    <!-- Title -->
    <span
      *ngIf="experience.IsCurrent"
      [ngClass]="{
        'pill-current absolute -top-3': true,
        '-right-7': position === 'center',
        '-right-10': position === 'right',
        '-left-10': position === 'left',
      }"
    ></span>
    <div class="flex flex-row">
      <h4>
        {{ experience.Title }}
      </h4>
    </div>
    <!-- Localisation -->
    <div class="flex flex-row gap-4">
      <!-- Online -->
      <ng-container *ngIf="experience.isOnline()">
        <fa-icon
          icon="globe"
          class="text-white"
          matTooltip="Expérience en ligne"
          matTooltipPosition="left"
        ></fa-icon>
        <span class="text-white">En ligne</span>
      </ng-container>
      <!-- Not online -->
      <ng-container *ngIf="!experience.isOnline()">
        <fa-icon
          icon="map-location-dot"
          class="text-white"
          matTooltip="Emplacement géographique où s'est réalisé l'expérience"
          matTooltipPosition="left"
        ></fa-icon>
        <span class="text-white">{{ experience.location }}</span>
      </ng-container>
    </div>
    <!-- Dates -->
    <div class="flex flex-row gap-4">
      <!-- Ponctual experience -->
      <ng-container *ngIf="!experience.StartingDate">
        <fa-icon icon="flag-checkered" class="text-white"></fa-icon>
        <div>
          <span
            class="text-white"
            matTooltip="Obtenu et/ou terminé le"
            matTooltipPosition="above"
            >{{
              experience.EndingDate.Value | date: experience.EndingDate.Format
            }}</span
          >
        </div>
      </ng-container>

      <!-- Period experience -->
      <ng-container *ngIf="experience.StartingDate">
        <fa-icon icon="clock" class="text-white"></fa-icon>
        <div>
          <span
            class="text-white"
            matTooltip="Date de début de l'expérience"
            matTooltipPosition="above"
            >{{
              (experience.IsCurrent ? "Depuis " : "") +
                (experience.StartingDate.Value
                  | date: experience.StartingDate.Format)
            }}</span
          >
          <span
            *ngIf="!experience.IsCurrent"
            class="text-white"
            matTooltip="Date de fin de l'expérience"
            matTooltipPosition="above"
          >
            -
            {{
              experience.EndingDate.Value | date: experience.EndingDate.Format
            }}</span
          >
        </div>
      </ng-container>
    </div>

    <div class="my-4">
      <mat-divider></mat-divider>
    </div>

    <!-- Description -->
    <p [innerHTML]="experience.description"></p>

    <!-- Actions -->
    <div *ngIf="experience.isOnline()">
      <div class="my-4">
        <mat-divider></mat-divider>
      </div>
      <a [href]="experience.Location" target="_blank">
        <button class="button cursor-pointer">
          <fa-icon icon="up-right-from-square" class="mr-2"></fa-icon>
          Voir le site web
        </button>
      </a>
    </div>
  </div>
</ng-template>
