<h1>Experiences</h1>
<div class="flex flex-col gap-8">
  <p class="text-justify">
    Vous retrouverez sur cette page une liste d'expériences personnelles et
    professionnelles que j'ai pu acquérir au fil des années. Cela peut être des
    formations, des stages et des emplois. Les expériences sont classées par
    ordre chronologique, de la plus récente à la plus ancienne.
  </p>
  <div>
    <h3>Liste des expériences</h3>
    <div class="grid grid-cols-2 relative">
      <div
        class="absolute inset-y-0 left-[calc(50%-6px)] w-2 bg-gray-300 rounded-full"
      ></div>
      <ng-container *ngFor="let experience of experiences; let i = index">
        <!-- Left: preview | Right: experience -->
        <ng-container *ngIf="i % 2 === 0">
          <ng-container
            [ngTemplateOutlet]="experiencePreview"
            [ngTemplateOutletContext]="{ $implicit: experience }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="experienceTemplate"
            [ngTemplateOutletContext]="{ $implicit: experience }"
          ></ng-container>
        </ng-container>

        <!-- Left: experience | Right: preview -->
        <ng-container *ngIf="i % 2 === 1">
          <ng-container
            [ngTemplateOutlet]="experienceTemplate"
            [ngTemplateOutletContext]="{ $implicit: experience }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="experiencePreview"
            [ngTemplateOutletContext]="{ $implicit: experience }"
          ></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- Preview card -->
<ng-template #experiencePreview let-experience>
  <div class="flex w-full justify-center items-center">
    <img
      [src]="experience.PreviewImage"
      [alt]="experience.Title"
      class="scale-75 object-cover rounded-lg border-12 border-gray-300/20"
    />
  </div>
</ng-template>

<!-- Experience card -->
<ng-template #experienceTemplate let-experience>
  <div class="p-4 my-16 bg-black/20 rounded-lg shadow-lg">
    <div class="flex flex-row">
      <h4>
        <span *ngIf="experience.IsCurrent" class="pill-current"></span>
        {{ experience.Title }}
      </h4>
    </div>
    <!-- Localisation -->
    <div class="flex flex-row gap-4">
      <!-- Online -->
      <ng-container *ngIf="experience.isOnline()">
        <fa-icon
          icon="globe"
          class="text-white"
          matTooltip="Expérience en ligne"
          matTooltipPosition="left"
        ></fa-icon>
        <span class="text-white">En ligne</span>
      </ng-container>
      <!-- Not online -->
      <ng-container *ngIf="!experience.isOnline()">
        <fa-icon
          icon="map-location-dot"
          class="text-white"
          matTooltip="Emplacement géographique où s'est réalisé l'expérience"
          matTooltipPosition="left"
        ></fa-icon>
        <span class="text-white">{{ experience.location }}</span>
      </ng-container>
    </div>
    <!-- Dates -->
    <div class="flex flex-row gap-4">
      <!-- Ponctual experience -->
      <ng-container *ngIf="!experience.StartingDate">
        <fa-icon icon="flag-checkered" class="text-white"></fa-icon>
        <div>
          <span
            class="text-white"
            matTooltip="Obtenu et/ou terminé le"
            matTooltipPosition="above"
            >{{
              experience.EndingDate.Value | date : experience.EndingDate.Format
            }}</span
          >
        </div>
      </ng-container>

      <!-- Period experience -->
      <ng-container *ngIf="experience.StartingDate">
        <fa-icon icon="clock" class="text-white"></fa-icon>
        <div>
          <span
            class="text-white"
            matTooltip="Date de début de l'expérience"
            matTooltipPosition="above"
            >{{
              (experience.IsCurrent ? "Depuis " : "") +
                (experience.StartingDate.Value
                  | date : experience.StartingDate.Format)
            }}</span
          >
          <span
            *ngIf="!experience.IsCurrent"
            class="text-white"
            matTooltip="Date de fin de l'expérience"
            matTooltipPosition="above"
          >
            -
            {{
              experience.EndingDate.Value | date : experience.EndingDate.Format
            }}</span
          >
        </div>
      </ng-container>
    </div>

    <div class="my-4">
      <mat-divider></mat-divider>
    </div>

    <!-- Description -->
    <p [innerHTML]="experience.description"></p>

    <!-- Actions -->
    <div *ngIf="experience.isOnline()">
      <div class="my-4">
        <mat-divider></mat-divider>
      </div>
      <a [href]="experience.Location" target="_blank">
        <button class="button cursor-pointer">
          <fa-icon icon="up-right-from-square" class="mr-2"></fa-icon>
          Voir le site web
        </button>
      </a>
    </div>
  </div>
</ng-template>
